<dx-data-grid
        class="dx-card content-block"
        [dataSource]="dataSource"
        [showBorders]="showBorders"
        [focusedRowEnabled]="true"
        [focusedRowIndex]="0"
        [columnAutoWidth]="true"
        [columnHidingEnabled]="true"
        [keyExpr]="keyField">

    <dxo-data-grid-paging [pageSize]="pageSize"></dxo-data-grid-paging>
    <dxo-data-grid-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-data-grid-pager>
    <dxo-data-grid-filter-row [visible]="allowFiltering"></dxo-data-grid-filter-row>
    <dxo-data-grid-sorting [mode]="allowSorting ? 'multiple' : 'none'"></dxo-data-grid-sorting>

    <dxi-data-grid-column
            *ngFor="let col of columns"
            [dataField]="col.dataField"
            [caption]="col.caption"
            [dataType]="col.dataType"
            [width]="col.width"
            [visible]="col.visible"
            [hidingPriority]="col.hidingPriority || 0"
            [calculateCellValue]="col.calculateCellValue">
    </dxi-data-grid-column>

    <dxi-data-grid-column
            *ngIf="showActions"
            [caption]="actionsCaption"
            [width]="actionsWidth"
            cellTemplate="actionCellTemplate"> </dxi-data-grid-column>

    <div *dxTemplate="let data of 'actionCellTemplate'">

        <dx-button
                [icon]="editButtonIcon"
                [type]="editButtonType"
                [hint]="editButtonHint"
                [style]="editButtonStyle"
                (onClick)="onActionClick('edit', data.data)">
        </dx-button>

        <dx-button
                [icon]="deleteButtonIcon"
                [type]="deleteButtonType"
                [hint]="deleteButtonHint"
                [style]="deleteButtonStyle"
                (onClick)="onActionClick('delete', data.data)">
        </dx-button>

    </div>

</dx-data-grid>