.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-container {
  padding: 20px;
  display: flex;
  justify-content: flex-end; /* alinha o select à direita */
}